---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AlpacaFur Projects</title>
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Projects by AlpacaFur"/>
    <meta name="author" content="AlpacaFur"/>
    <meta name="Keywords" content="PROJECTS, ALPACAFUR, CODING, GITHUB"/>
  </head>
  <body>
    <h1 class="alpacafur"><a href="https://github.com/alpacafur">AlpacaFur</a></h1>
    <h1 class="projects-title">Projects</h1>
    <div class="projects">
      {% include project-card.html name="HexClock" path="hexclock" %}
      {% include project-card.html name="WebShell" path="console" %}
    </div>
  </body>
  <script>
    function handler(e) {
      e.preventDefault();
      let href = e.target.href;
      if (!(e.target.href.indexOf > -1) && !e.target.classList.contains("disabled")) {
        document.body.classList.add(href.endsWith("/console") ? "fadeblack" : "fade")
        setTimeout(()=>{
          window.location = e.target.href
        },1000)
        setTimeout(()=>{
          document.body.classList.remove(href.endsWith("/console") ? "fadeblack" : "fade")
        },2000)
      }
    }
    for (var ls = document.links, numLinks = ls.length, i=0; i<numLinks; i++){
      ls[i].onclick=handler;
    }
  </script>
</html>
